/Documents/NetBeansProjects/mavenproject1/target/
/Documents/NetBeansProjects/helloworld/nbproject/private/
/Documents/NetBeansProjects/helloworld/build/
/Documents/NetBeansProjects/ProyectoJava/nbproject/private/
/Documents/NetBeansProjects/ProyectoJava/build/
/Documents/NetBeansProjects/P`/nbproject/private/
/Documents/NetBeansProjects/OPERADORES/nbproject/private/
/Documents/NetBeansProjects/OPERADORES/build/
/Documents/NetBeansProjects/RA3/nbproject/private/
/Documents/NetBeansProjects/RA3-Variables-Condicionales-Bucles/nbproject/private/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/RA3-Programacion-estructurada/nbproject/private/
/Documents/NetBeansProjects/RA3-Variables-Condicionales-Bucles/build/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/RA3-Vectores-Matrices/nbproject/private/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/RA3-Vectores-Matrices/build/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/EJERCERCICIOS/nbproject/private/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/EJERCERCICIOS/build/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/RELOJ/nbproject/private/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/RELOJ/build/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/UF2-Ejercicios/nbproject/private/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/UF2-Ejercicios/build/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/JavaApplication12/nbproject/private/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/JavaApplication12/build/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/RA4PR1/target/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/RA4PR1_1/target/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/RA4PRone/target/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACION-ESTRUCTURADA/RA4-SHOP/nbproject/private/
/Desktop/Empresa/Empresa/nbproject/private/
/Desktop/Empresa/Empresa/build/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACIÓN/Restaurante/nbproject/private/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACIÓN/Restaurante/build/
/Desktop/CLASES-STUCOM-24-25/PROGRAMACIÓN/EjemploFileAlumnosRA7/testM05/nbproject/private/
/Documents/NetBeansProjects/examenRa9/target/
/Documents/NetBeansProjects/ExamenRA7/nbproject/private/
/Documents/NetBeansProjects/ExamenRA7/build/
